<!DOCTYPE html>
<html>
<head>
  <title>Suggestron</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if logged_in? %>
  <%= "Welcome #{current_user.username}" %>
  <%= link_to "Logout", {controller: "logins", action: "destroy"}, method: "delete" %>
<% end %>
<p style="background-color: #cfc">
  <%= flash[:notice] %>
</p>
<%= yield %>

</body>
</html>
